<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>训练记录管理页面</title>
        <meta name="keywords" content="训练记录管理页面">
        <meta name="description" content="训练记录管理页面">
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta http-equiv="Access-Control-Allow-Origin" content="*">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="format-detection" content="telephone=no">
        <link rel="stylesheet" th:href="@{/static/layuimini/lib/layui-v2.8.17/css/layui.css}" media="all">
        <link rel="stylesheet" th:href="@{/static/layuimini/css/public.css}" media="all">
        <link rel="stylesheet" th:href="@{/static/layuimini/lib/font-awesome-4.7.0/css/font-awesome.min.css}"
              media="all">
        <!--[if lt IE 9]>
        <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
        <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <style>
            .layui-table-cell {
                height: auto !important;
                white-space: normal;
            }
        </style>
    </head>
    <body>
        <div class="layuimini-container">
            <div class="layuimini-main">
                <fieldset class="layui-elem-field layui-field-title">
                    <legend>训练记录管理</legend>
                </fieldset>
                <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>
            </div>
        </div>
        <script type="text/html" id="currentToolBar">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-radius layui-btn-sm" lay-event="refresh">
                    <i class="fa fa-refresh"></i>&nbsp;&nbsp;刷新&nbsp;
                </button>
            </div>
        </script>
        <script type="text/html" id="currentTableBar">
            <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="analyze">
                <i class="fa fa-pie-chart"></i>&nbsp;&nbsp;数据分析&nbsp;
            </a>
        </script>
        <script th:src="@{/static/layuimini/lib/layui-v2.8.17/layui.js}" charset="utf-8"></script>
        <script th:src="@{/static/layuimini/js/lay-config.js}" charset="utf-8"></script>
        <script type="text/javascript">
            layui.use(['jquery', 'layer', 'table', 'common'], function () {
                var $ = layui.jquery,
                    layer = layui.layer,
                    table = layui.table,
                    common = layui.common;

                table.render({
                    elem: '#currentTableId',
                    url: '/record/list',
                    toolbar: '#currentToolBar',
                    defaultToolbar: ['filter', 'exports', 'print'],
                    cols: [
                        [
                            {field: 'id', title: '编号', width: 100, align: 'center', sort: true},
                            {field: 'userName', title: '训练员姓名', minWidth: 200},
                            {field: 'subjectName', title: '科目名称', minWidth: 200},
                            {
                                field: 'result', title: '训练结果', minWidth: 200, templet: function (d) {
                                    if (d.result === 0) {
                                        return '<span class="layui-badge layui-bg-silk-deep-pink" style="font-size: 14px;">优秀</span>';
                                    } else if (d.result === 1) {
                                        return '<span class="layui-badge layui-bg-silk-deep-green" style="font-size: 14px;">良好</span>';
                                    } else if (d.result === 2) {
                                        return '<span class="layui-badge layui-bg-silk-deep-blue" style="font-size: 14px;">合格</span>';
                                    } else {
                                        return '<span class="layui-badge layui-bg-gray" style="font-size: 14px;">不合格</span>';
                                    }
                                }
                            },
                            {
                                field: 'exerciseTime',
                                title: '训练时间',
                                minWidth: 200,
                                sort: true,
                                templet: function (row) {
                                    return '<span class="layui-badge layui-bg-silk-deep-blue" style="font-size: 14px;">' + row.exerciseTime + '</span>';
                                }
                            },
                            {fixed: 'right', title: '操作', minWidth: 200, align: 'center', toolbar: '#currentTableBar'}
                        ]
                    ],
                    limits: [5, 10, 15, 20, 25, 50, 100],
                    limit: 10,
                    page: true,
                    skin: 'line',
                    size: 'lg',
                    response: {
                        statusCode: 200
                    },
                    error: function (error) {
                        layer.msg(error, {icon: 2, time: 1500}, function () {
                            common.errorRedirect();
                        });
                    }
                });

                table.on('toolbar(currentTableFilter)', function (obj) {
                    if (obj.event === 'refresh') {
                        table.reload('currentTableId');
                    }
                });

                table.on('tool(currentTableFilter)', function (obj) {
                    if (obj.event === 'analyze') {
                        formData = obj.data;
                        var index = layer.open({
                            title: '训练记录数据分析',
                            type: 2,
                            area: ['100%', '100%'],
                            content: 'toRecordDetail'
                        });
                        $(window).on("resize", function () {
                            layer.full(index);
                        });
                    }
                });

            });
        </script>
    </body>
</html>